/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

/* Specifications 
=================
Prime Color : #4e0f25
Prime Dark : #3e0c1e

Secondary Color: #b39330

Prime Link : #a52c59

Background : #e7e8e8
Image Background : #e6e6e6
Button background : #f2f2f2

misc-blue : #337ab7
misc-grey : #a2a2a2

*/

/* Normalize */
a,
a:hover,
a:active,
a:link{
    color: #333;
    text-decoration: none;
}

body {
    background-color: #e7e8e8;
    font-family: 'Roboto', sans-serif;
    color:#333;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

/* common classes */

/* font */
.font-300{font-weight: 300;}
.font-400{font-weight: 400;}
.font-500{font-weight: 500;}
.font-700{font-weight: 700;}

.bg-prime{background-color:#4e0f25; }
.bg-prime-dark{background-color:#3e0c1e;}
.bg-secondary{background-color:#b39330;}
.bg-fff{background-color:#fff;}

.color-prime{color: #4e0f25};
.color-link{color: #a52c59};
.misc-blue {color:#337ab7;}
.text-grey,
.misc-grey {color:#a2a2a2;}
.border-bottom{border-bottom:1px solid #ccc;}
.inline-block{    display: inline-block;}
.btn-secondary{
    background-color:#b39330;
    border-color: #c69c17;
    color:#fff;
}
.btn-secondary:hover{
    background-color:#c69c17;
    border-color: #c69c17;
    color:#fff;
}
.btn-grey{
    background-color: #f2f2f2;
    color: #777;
}
.btn-grey.btn-border{    
    border: 1px solid #ccc;
}
.top-header{
    background-color: #4e0f25;
    color: #ccc;
}
.top-header a{
     color: #fff;
}
.top-header-left{}
.top-header-right > span{
    display: inline-block;
    padding: 20px 5px;
}
.top-header-right .dropdown-menu{
    margin: 0;   
}
.top-header-right .dropdown.open{
    background-color: #3e0c1e;
}
.top-header-right .dropdown.open > .dropdown-menu{
    left: auto;
    right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
a.navbar-brand{
    color: #fff;
    text-transform: uppercase;
}

/* navbar */
.navbar{
    background: #fff;
    min-height: 0;
    border-bottom: 2px solid #ccc;
    margin: 0;
}
.nav>li>a{
    padding: 10px;
    position: relative;
    text-align: center;
    text-transform:uppercase;
    color: #777;
}
.nav>li>a:focus, 
.nav>li>a:hover{
    background: none;
    color: #000;
}

.nav>li>a:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 10%;   
    width: 80%;
    background: #b39330;
    height: 5px; 
    opacity: 0;
    transition: opacity 500ms;
    
}
.nav>li.active>a:after,
.nav>li>a:hover:after{
    opacity: 1;
    color: #000;
}
.navbar-toggle .icon-bar{
    background: #aaa;
}

/* Search Bar */
.searchbar-container{
    box-shadow: 0px 0px 4px 2px #ddd;
}

.searchbar-container .form-control{
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
} 


.searchbar-container .dropdown,
.searchbar-container .search-control{
    padding: 4px 8px;
    margin: 4px 0px;
}

.searchbar-container .dropdown .dropdown-toggle,
.controlbar-container .dropdown .btn{
    display: block;
    position: relative;
}
.searchbar-container .dropdown .dropdown-toggle .caret{
    position: absolute;
    top:8px;
    right: 0px;
    border-top: 6px dashed;    
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.searchbar-container .btn-search{
    margin: 5px 0;
    padding: 5px 0;
}
.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon .glyphicon{
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px;
    color:#999;
}


.icon-addon .form-control {
    font-weight: normal;
}
.icon-addon .form-control.search-control{
    padding:4px 8px 4px 30px; 
}

.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 14px;
    left: 15px;
    top: 4px
}

/* Controll bar */

.controlbar-container .dropdown .btn{
    border-radius: 0;
    padding: 4px 10px;
    min-width: 200px;
    text-align: left;    
}
.controlbar-container .dropdown-menu{
    width: 100%;
}
.controlbar-container .dropdown .btn .glyphicon{
    position: absolute;
    right: 10px;
    top:8px;
}

/* List Controller */
.list-container{
    
}
.list-container .card{
    background: #fff;
    padding: 5px;
    border:1px solid #ccc;
    margin: 20px 0;
}
.list-container .date-section{
    position: relative;
    padding: 0 0 0 15px;
}
.list-container .date-section:before{
    content: '';
    position: absolute;
    top:6px;
    left: 0;
    height: 8px;
    width:8px;
    border-radius: 100%;
    background: #337ab7;
}

.list-container .image-section{
    position: relative;    
    margin: 10px;
}

.list-container .image-section img.alt-img{
    z-index: 2;
    position: relative;
}
.list-container .image-section .image-block img{
    width: 100%;
    padding: 4px;
}

.list-container .image-section .image-block,
.list-container .image-section:before,
.list-container .image-section:after{    
    box-shadow: 0 0 4px 0 #666;
    background:#fff;
    z-index: 1;
}
.list-container .list-img,
.list-container .image-section:before,
.list-container .image-section:after{
    content: '';
    display: block;
    position: absolute;
    top:0;
    left: 0;
    height:100%;
    width:100%; 
}
.list-container .image-section .image-block{
    position: relative;
    left: -4px;
    top:-4px;
    z-index: 2;
}
.list-container .image-section .lnk-count,
.list-container .image-section .lnk-next{
    position: absolute;
    top: 4px;
    z-index: 4;
    background-color: #aaa;
    color: #fff;
    padding: 10px;
    line-height: 10px;
}
.list-container .image-section .lnk-count{
    left: 4px;
}
.list-container .image-section .lnk-next{
    right: 4px;
}
.list-container .list-img{
    z-index: 3;
}
.list-container .image-section:before{
    top:4px;
    left: 4px;
}
.list-container .list-item-name{
    padding: 10px;
    margin: 0;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list-container .divider{
    margin: 0 -5px;
    border-color:#ddd; 
}
.list-container .list-item-footer{
    padding: 5px 10px 0;
}
/* Media Queries */

/* Mobile */
@media screen and (max-width:767px){
    body{
        padding-top: 80px;
    }
    .p-xs-0{
        padding: 0;    
    }
    .navbar-header .navbar-brand{
        color: #4e0f25;
    }
    
    .navbar-toggle{
        margin-right: 0;
    }
    .btn-search{
        margin: 8px 0;
        float: right;
    }
    .top-header-right > span{
        padding: 5px;
    }
    .navbar-collapse .navbar-nav{
        background: #efefef;
        margin-top: 0;
    }
    .dropdown-menu{
        width: 100%;
    }
    
    .searchbar-container{
        display: none;
        position: fixed;
        z-index: 4;
        width: 100%;
        left: 0;
        top: 83px;
    }
    .controlbar-controls{
        display: none;   
    }
     .controlbar-control{
         width: 100%;
         margin: 2px 0;
         text-align: left;
    }
    .controlbar-controls .btn-group > .btn-group{
        float: none;
        width: 100%;
    }
    .list-container .card{
        margin: 0 0 20px 0;
    }
    
}

/* iPad and above */
@media screen and (min-width:768px){
    /*common*/
    
    
    
    body{
         padding-top: 120px;
    }
    .container{
        width: 100%;
    }
    a.navbar-brand{
        font-size: 34px;
        padding: 20px 0;
    }
    .navbar .navbar-collapse{
        padding: 0;        
    }
    .searchbar-container .dropdown{
        border-left:1px solid #ccc;
        border-right:1px solid #ccc;
        margin: 7px 0;
    }
    .controlbar-container{
        padding: 10px 0;
    }   
   
}

/* iPad Only (portrait and landscape)*/
@media screen and (min-width:768px) and (max-width:1200px){
    .controlbar-controls > .btn-group .controlbar-control.dropdown .btn{
       padding: 6px 10px;
    }
}

/* iPad Portrait Only */
@media screen and (min-width:768px) and (max-width:992px){
    .p-sm-0{
        padding: 0;    
    }
    .controlbar-controls > .btn-group .controlbar-control{
       width: 100%;
    }
    
   
    .controlbar-controls > .btn-group >.btn-group{        
        display: table-cell;
        float: none;
        width: 1%;
    }
    .controlbar-controls > .btn-group >.btn-group + .btn-group .btn{
        border-left: 0;
    }
}

/* iPad lanscape and above */
@media screen and (min-width: 992px){
    .controlbar-controls{
        text-align: right;
    }
    .controlbar-container h4{
        margin: 12px 0 0px;
    }
}

/* Desktops big screens */
@media screen and (min-width:1200px){
    .container{
        width: 1030px;
    }
    
   
    .controlbar-container .btn-grey{
        padding: 5px 10px;
    }
    
    .controlbar-controls .btn-group + .btn-group{
        margin-left : 5px;  
    }
    .controlbar-controls{
        text-align: right;
    }
   .controlbar-controls .btn-group > .btn-group .btn{
        border-radius: 4px !important;
    }
    .controlbar-controls .btn-group.dropdown-btn-group,
    .controlbar-controls .btn-group.dropdown-btn-group .btn{
        border-radius: 0px !important;
    }
}